<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicios_Clase.My.MySettings.EjemploConnectionString"
            connectionString="Data Source=DESKTOP-HD05D0Q;Initial Catalog=Ejemplo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ejercicios_Clase.My.MySettings.TiendaConnectionString"
            connectionString="Data Source=DESKTOP-HD05D0Q;Initial Catalog=Tienda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>